### This notebook consists only of preprocessing of the data (heart_disease_uci) the assistant shared with us at the final auditory exercises. The data is processed so as to equal completely the one in the other jupyter notebook (Predicting_Heart_Failure_BartolBanic) where all the further processing is performed.
### The final data in this notebook and the starting data used in that one are here made to be completely equivalent.

In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
filepath=r"C:\Users\ONE\OneDrive - FFUNIZG\Radna površina\Faks\CogSci\DataScience\BartolProjekt\Data\heart_disease_uci_novi.csv"
data = pd.read_csv(filepath, index_col=0)

In [4]:
data.head()

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
id,,,,,,,,,,,,,,,
1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [5]:
data.isna().sum()

age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 920 entries, 1 to 920
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    int64
 1   sex       920 non-null    object
 2   dataset   920 non-null    object
 3   cp        920 non-null    object
 4   trestbps  861 non-null    float64
 5   chol      890 non-null    float64
 6   fbs       830 non-null    object
 7   restecg   918 non-null    object
 8   thalch    865 non-null    float64
 9   exang     865 non-null    object
 10  oldpeak   858 non-null    float64
 11  slope     611 non-null    object
 12  ca        309 non-null    float64
 13  thal      434 non-null    object
 14  num       920 non-null    int64
dtypes: float64(5), int64(2), object(8)
memory usage: 115.0+ KB

In [7]:
data.shape

(920, 15)

In [8]:
data_cle = data.loc[data["dataset"]=="Cleveland"]

In [9]:
data_cle.shape

(304, 15)

In [10]:
data_cle.dtypes

age           int64
sex          object
dataset      object
cp           object
trestbps    float64
chol        float64
fbs          object
restecg      object
thalch      float64
exang        object
oldpeak     float64
slope        object
ca          float64
thal         object
num           int64
dtype: object

In [11]:
data_cle.isna().sum()

age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       1
ca          5
thal        3
num         0
dtype: int64

In [12]:
data_cle.loc[data_cle["slope"].isna()]

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
id,,,,,,,,,,,,,,,
304,28,Male,Cleveland,atypical angina,130.0,132.0,False,lv hypertrophy,185.0,False,0.0,NaN,NaN,NaN,0

In [13]:
data_cle = data_cle[data_cle.index !=304]

In [14]:
data_cle.shape

(303, 15)

In [15]:
data.nunique()

age          50
sex           2
dataset       4
cp            4
trestbps     61
chol        217
fbs           2
restecg       3
thalch      119
exang         2
oldpeak      53
slope         3
ca            4
thal          3
num           5
dtype: int64

In [16]:
le = LabelEncoder()
le.fit(data_cle.loc[:,"sex"])
data_cle.loc[:,"sex"] = le.transform(data_cle.loc[:,"sex"])

In [17]:
for class_label, encoded_label in zip(le.classes_, range(len(le.classes_))):
    print(f"Original Label: {class_label} -> Encoded Label: {encoded_label}")

Original Label: Female -> Encoded Label: 0
Original Label: Male -> Encoded Label: 1

In [18]:
data_cle.head()

,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
id,,,,,,,,,,,,,,,
1,63,1,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
2,67,1,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
3,67,1,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
4,37,1,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
5,41,0,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [19]:
if 'dataset' in data_cle.columns:
    data_cle = data_cle.drop(columns='dataset')

In [20]:
data_cle.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalch',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num'],
      dtype='object')

In [21]:
data_cle.cp.unique()

array(['typical angina', 'asymptomatic', 'non-anginal', 'atypical angina'],
      dtype=object)

In [22]:
mapping = {
    'typical angina': 1,
    'atypical angina': 2,
    'non-anginal': 3,
    'asymptomatic': 4
}

data_cle['cp'] = data_cle['cp'].map(mapping)

In [23]:
#le_cp = LabelEncoder()
#le_cp.fit(data_cle.loc[:,"cp"])
#data_cle.loc[:,"cp"] = le_cp.transform(data_cle.loc[:,"cp"])

#for class_label, encoded_label in zip(le_cp.classes_, range(len(le_cp.classes_))):
#    print(f"Original Label: {class_label} -> Encoded Label: {encoded_label}")

In [24]:
data_cle.loc[data_cle["fbs"]==False,"fbs"]=0
data_cle.loc[data_cle["fbs"]==True,"fbs"]=1

In [25]:
data_cle.restecg.unique()

array(['lv hypertrophy', 'normal', 'st-t abnormality'], dtype=object)

In [26]:
mapping_ecg = {
    'normal': 0,
    'st-t abnormality': 1,
    'lv hypertrophy': 2,
}

data_cle['restecg'] = data_cle['restecg'].map(mapping_ecg)

In [27]:
#le_ecg = LabelEncoder()
#le_ecg.fit(data_cle.loc[:,"restecg"])
#data_cle.loc[:,"restecg"] = le_ecg.transform(data_cle.loc[:,"restecg"])
#for class_label, encoded_label in zip(le_ecg.classes_, range(len(le_ecg.classes_))):
#    print(f"Original Label: {class_label} -> Encoded Label: {encoded_label}")

In [28]:
data_cle.loc[data_cle["exang"]==False,"exang"]=0
data_cle.loc[data_cle["exang"]==True,"exang"]=1

In [29]:
data_cle.slope.unique()

array(['downsloping', 'flat', 'upsloping'], dtype=object)

In [30]:
mapping_slope = {
    'upsloping': 1,
    'flat': 2,
    'downsloping': 3
}

data_cle['slope'] = data_cle['slope'].map(mapping_slope)

In [31]:
#le_slope = LabelEncoder()
#le_slope.fit(data_cle.loc[:,"slope"])
#data_cle.loc[:,"slope"] = le_slope.transform(data_cle.loc[:,"slope"])
#for class_label, encoded_label in zip(le_slope.classes_, range(len(le_slope.classes_))):
#    print(f"Original Label: {class_label} -> Encoded Label: {encoded_label}")

In [32]:
data_cle.thal.unique()

array(['fixed defect', 'normal', 'reversable defect', nan], dtype=object)

In [33]:
mapping_thal = {
    'normal': 3,
    'fixed defect': 6,
    'reversable defect': 7
}

data_cle['thal'] = data_cle['thal'].map(mapping_thal)

In [34]:
#le_thal = LabelEncoder()
#le_thal.fit(data_cle.loc[:,"thal"])
#data_cle.loc[:,"thal"] = le_thal.transform(data_cle.loc[:,"thal"])
#for class_label, encoded_label in zip(le_thal.classes_, range(len(le_thal.classes_))):
#    print(f"Original Label: {class_label} -> Encoded Label: {encoded_label}")

#data_cle.loc[data_cle["thal"]==3, "thal"]= np.nan

In [35]:
data_cle.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
id,,,,,,,,,,,,,,
1,63,1,1,145.0,233.0,1,2,150.0,0,2.3,3,0.0,6.0,0
2,67,1,4,160.0,286.0,0,2,108.0,1,1.5,2,3.0,3.0,2
3,67,1,4,120.0,229.0,0,2,129.0,1,2.6,2,2.0,7.0,1
4,37,1,3,130.0,250.0,0,0,187.0,0,3.5,3,0.0,3.0,0
5,41,0,2,130.0,204.0,0,2,172.0,0,1.4,1,0.0,3.0,0

In [36]:
data_cle.dtypes

age           int64
sex          object
cp            int64
trestbps    float64
chol        float64
fbs          object
restecg       int64
thalch      float64
exang        object
oldpeak     float64
slope         int64
ca          float64
thal        float64
num           int64
dtype: object

In [37]:
for col in data_cle.columns:
    data_cle[col]=data_cle[col].astype(float)

In [38]:
data_cle.columns = ["Age", "Sex", "CP", "RestBP", "Chol", "FBS", "RestECG", "HeartBeat", "Exang", "OldPeak", "Slope", "CA", "Thal", "Target"]

In [39]:
data_cle.head()

,Age,Sex,CP,RestBP,Chol,FBS,RestECG,HeartBeat,Exang,OldPeak,Slope,CA,Thal,Target
id,,,,,,,,,,,,,,
1,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0.0
2,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2.0
3,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1.0
4,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0.0
5,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0.0

In [40]:
file_path_out = r"C:\Users\ONE\OneDrive - FFUNIZG\Radna površina\Faks\CogSci\DataScience\data\cleveland_lastminute.csv"
data_cle.to_csv(file_path_out, index=False)